@import '../../styles/base.module.scss';

// define colors here
$textColor: #fff;
$buttonBorderColor: #2ea7a2;
$buttonBgColor: #fff;

//define other variables here
$mainImageHeight: calc(100vh - 72px);

// define all local css classes here
:local {
	.homeBox {
		&__gridContainer {
			flex-direction: column-reverse;
			
			@media(min-width: $smBreakPoint) {
				flex-direction: row;
			}
		}
	}

	.coronaBox {
		background: transparent url('../../assets/images/corona.png') no-repeat center/contain;
		height: 240px;
		width: 240px;
		max-width: 560px;

		@media(min-width: $xsBreakPoint) {
			height: 320px;
			width: 320px;
		}

		@media(min-width: $smBreakPoint) {
			height: $mainImageHeight;
			width: auto;
			margin-top: 0;
		}
	}

	.typography {
		color: $textColor;
	}

	.moreInfoButton {
		border: 2px solid $buttonBorderColor;
		border-radius: 48px;
		background: $buttonBgColor;
		padding: 8px 16px;
		margin-top: 16px;
	}
}

// define all global css classes here
