@import '../../styles/base.module.scss';

// define colors here
$textcolor: #254445;

// define all local css classes here
:local {
	.header {
		background: transparent;
		color: $textcolor;
	}

	.homeIcon {
		color: $textcolor;
	}

	.headerListContainer {
		flex: 1;
		display: flex;
	}

	.headerItem {
		margin-left: 32px;
		color: $textcolor;
	}

	.link {
		text-decoration: none;
		color: inherit;

		&:hover {
			text-decoration: underline;
		}
	}
}

// define all global css classes here
