@import '../../styles/base.module.scss';

// define colors here
$textColor: #fff;
$cardBgColor: #2a6568;

// define all local css classes here
:local {
	.resourcesBox {

	}

	.typography {
		color: $textColor;
	}

	.card {
		max-width: 360px;
		margin: 32px auto;
		background: $cardBgColor;
		
		&__media {
			height: 240px;
		}

		&__header {
			color: $textColor;
		}

		&__description {
			height: 100px;
			color: $textColor;
		}

		&__linkButton {
			color: $textColor;
		}
	}
}

// define all global css classes here
